/* global */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

:root {
  --bkg: #eee;
  --bkg-alt: #ccc;
  --light-main: #666;
  --text: #333;
  --alt-text: #999;
}

body {
  background: var(--bkg);
  min-height: 200vh;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 80px;
  z-index: 100000;
}

header.sticky {
  padding: 5px 100px;
  background: var(--text);
}

header .logo {
  position: relative;
  font-weight: 700;
  color: var(--text);
  text-decoration: none;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: var(--text);
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
  text-align: center;
}

header.sticky .logo {
  color: var(--bkg);
}

header.sticky ul li a {
  color: var(--bkg);
}

/* PICTURE */
.banner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  /* background: url(https://images.pexels.com/photos/2673227/pexels-photo-2673227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.banner h1 {
  font-style: normal;
  font-weight: bold;
  color: var(--text);
  font-size: 11vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 40px;
}

button {
  background: var(--light-main);
  transition: background ease 0.25s;
  border-radius: 5px;
  display: inline-block;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0;
  text-decoration: none;
  color: var(--bkg);
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:hover {
  background: var(--alt-text);
}

.content {
  display: flex;
  padding: 20px;
  height: 85vh;
  background-color: var(--bkg-alt);
  align-items: center;
  justify-content: center;
}

.content:nth-of-type(odd) {
  background-color: var(--bkg);
}

.info {
  align-items: center;
  width: 50vw;
  padding: 20px 20px;
  font-size: 1.5em;
}

.image {
  height: 100%;
  width: 50vw;
  padding: 0 20px;
  background: url(https://images.pexels.com/photos/4464377/pexels-photo-4464377.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-size: auto;
  background-position: center;
}

/* BURGER */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 35px;
  height: 4px;
  margin: 3px;
  background-color: var(--text);
  transition: all 0.3s ease;
}

.burger.sticky div {
  width: 25px;
  height: 3px;
  margin: 3px;
  background-color: var(--bkg);
  transition: all 0.3s ease;
}

/* NAVIGATION */
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--text);
  text-decoration: none;
  letter-spacing: 1px;
}
.nav-links a:hover {
  color: var(--bkg-alt);
  text-decoration: underline wavy;
  line-height: 2px;
  letter-spacing: 1px;
}

.form-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.form-info {
  width: 50%;
  padding: 20px;
  font-size: 1.5em;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--light-main);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: var(--light-main);
  color: var(--bkg);
  padding: 17px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: ease 0.6s;
}

input[type="submit"]:hover {
  background-color: var(--alt-text);
}

footer {
  border-top: solid var(--text) 1px;
  padding: 15px;
  text-align: center;
  font-weight: 800;
  letter-spacing: 5px;
  height: 5vh;
}
/* RESPONSIVENESS */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  header .logo {
    float: left;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 85vh;
    top: 15vh;
    background-color: var(--bkg);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    font-size: 30px;
    font-weight: 800;
  }

  .nav-links.sticky {
    top: 9vh;
    background-color: var(--text);
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    float: right;
    padding: 0px 0 5px 0px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image {
    padding: 50px;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  .info {
    font-size: 1em;
    text-align: left;
    width: 98vw;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .form-info {
    width: 100%;
    padding: 20px;
    font-size: 1em;
  }

  .form-style {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  form {
    width: 80%;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media (min-width: 320px) {
  ...;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  ...;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  ...;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...;
}
