* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face{
  font-family: W95FA;
  src: url('/RiahProject/resources/W95FA/w95fa.woff');
}

:root {
  --blue: #c8f7ff;
  --navy: #001152;
  --pink: #ff8ad7;
  --yellow: #fff029;
  --orange: #ea935a;
}

body {
  background-repeat: repeat;
  background-color: var(--blue);
  height: 100vh;
  color: var(--navy);
  font-family: W95FA;
}

/* NavBar -------------------*/
nav {
  height: 35px;
  display: flex;
  padding: 2px 2px 3px 2px;
  justify-content: space-between;
  background: var(--pink);
  border-bottom: outset var(--orange) 2px;
  font-family: W95FA;
}

.clock {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  color: var(--yellow);
  font-size: 1.5rem;
  width: 100px;
}

/* Dropdown Button */
.dropbtn {
  background-color: var(--blue);
  color: black;
  height: 35px;
  padding: 0 34px;
  font-size: 1.5rem;
  border: outset 2px;
  cursor: pointer;
  font-family: W95FA;
}

.dropbtn:active {
  background-color: gray;
  border: inset;
}

.active {
  background-color: gray;
  border: inset;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  text-align: left;
  position: absolute;
  background-color: var(--blue);
  border: outset var(--blue);
  min-width: 260px;
  z-index: 1;
  font-family: W95FA;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  border: solid 0.5px #00000009;
  display: block;
}

.dropdown-content img {
  padding: 0 80px 0 0;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: lavenderblush;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* ------------------------------ dragging/ windows ------------------------------------ */
.draggable {
  max-width: 70%;
  touch-action: none;
  user-select: none;
  overflow: scroll;
  background-color: var(--pink);
  border: 2px lavender outset;
  box-shadow: 6px 6px #00000080;
  position: absolute;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

#drag {
  touch-action: none;
  user-select: none;
}

.hidden {
  display: none;
}

#hide {
  margin: 2px;
  padding: 3px 6px;
  background-color: lightgrey;
  font-family: W95FA;
}

#hide:active {
  background-color: white;
}

.window-header {
  background-color: var(--blue);
  margin: 4px;
  height: 28px;
  font-size: 1.1rem;
  
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.window-header:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.window-content {
  display: flex;
  flex-direction: column;
  border: inset lavender;
  background: lavenderblush;
  margin: 5px;
  padding: 10px;
  height: 80%;
}

.image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img{
  height: auto;
  width: 20%;
  padding: 20px;
}

.advert{
  height: 100px;
  width: 100px;
  background-color: var(--pink);
  border: 2px lavender outset;
  box-shadow: 6px 6px #00000080;
}

/* -----------------------------DESKTOP--------------------------------- */
#desktop {
  height: 100vh;
  width: 100vw;

  flex-direction: column;
  justify-content: space-evenly;

  background-image: url(/RiahProject/riah_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.static{
  position: absolute;
  z-index: 0;
  margin-left: 10px;
  margin-top: 70px;
  width: 80%;
  overflow: scroll;
  background-color: var(--pink);
  border: 2px lavender outset;
  box-shadow: 6px 6px #00000080;
}

#dtwindow{
  position: absolute;
  padding-top: 1px;
  z-index: 2;
  height: 85vh;
  width: 100vw;
}

.icon-container {
  margin-top: 6px;
}
.icons img:hover {
  cursor: pointer;
}

.icons {
  display: flex;
  overflow-y: hidden;
  justify-content: end;
}

.icons img {
  height: auto;
  width: 40px;
  padding: 8px;
  margin: 5px;
}

@media (min-width: 768px) {
 /*  */
}

@media (min-width: 992px) {
/*  */
}


/* SCANLINE --------------------------------------------- */

/* POTENTIAL ADDS */
/* CRT FLICKER */
/* 
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
} */
